.main_div {
  background-color: #f9abbf;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.coffee_logo {
  border-bottom: 1px solid black;
}
.f-small {
  font-size: 80%;
}

.dongle-light {
  font-family: "GmarketSansMedium";
  font-weight: 300;
  font-style: normal;
}

.dongle-regular {
  font-family: "GmarketSansMedium";
  font-weight: 400;
  font-style: normal;
}

.dongle-bold {
  font-family: "GmarketSansMedium";
  font-weight: 700;
  font-style: normal;
}
.main_container {
  max-width: 950px;
  margin-bottom: 60px;
}

* {
  font-family: "GmarketSansMedium";
  font-weight: 300;
  font-style: normal;
  color: #000;
  font-size: 20px;
}

.order_list {
  position: fixed;
  width: 100%;
  bottom: 0;
}
.order_list > div {
  background-color: #ff5f87;
  border-radius: 10px 10px 0px 0px;
  /* min-height: 100px; */
}

.count {
  border-radius: 10px;
  border: 0;
  background-color: #f5d78f;
}
.count:focus {
  outline: none;
}
.btn {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84px;
  background-color: #f9abbf;
}
.btn:hover {
  background-color: #f9abbf;
}

.menu_div img {
  border-radius: 16%;
}
/* 아래의 모든 코드는 영역::코드로 사용 */
*::-webkit-scrollbar {
  width: 10px; /* 스크롤바의 너비 */
}

*::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #ff5f87; /* 스크롤바의 색상 */

  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, 0.1); /*스크롤바 뒷 배경 색상*/
}

.order_delete_btn {
  position: absolute;
  right: -10px;
  cursor: pointer;
  top: 2px;
}
.order_div {
  position: relative;
}
.menu_div:hover {
  transform: scale(1.01);
  transition-duration: 0.5s;
}
.swal2-title,
.swal2-styled {
  font-family: "Sunflower", sans-serif !important;
  font-size: 33px;
}
.swal2-styled {
  width: 70px !important;
  padding: 3px !important;
}
.swal2-popup {
  width: 25rem;
}
.swal2-html-container {
  font-family: "Sunflower", sans-serif !important;
}

.img-container {
  position: relative;
  width: 100%;
  padding-top: 100%; /* 정사각형을 유지하기 위한 패딩 비율 */
  overflow: hidden; /* 이미지가 컨테이너를 넘지 않도록 설정 */
}

.img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지가 비율을 유지하며 컨테이너에 맞게 채워짐 */
}
